# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.idea
/webviewer/node_modules

pycache__/
static/
data/mapboxcache
data/satellite_imagery
data/results
data/tiles
.ipynb_checkpoints
