version: "3"
services:
  db:
    image: postgis/postgis:13-3.0
    expose:
      - 5432
    environment:
      - POSTGRES_DB=sip_db
      - POSTGRES_USER=sip
      - POSTGRES_PASSWORD=eiJ2koo6

  webapplication:
    build:
      context: ./webapplication
      dockerfile: Dockerfile
    command: /bin/bash -c "exec invoke run"
    environment:
      - DJANGO_SETTINGS_MODULE=sip.settings
      - POSTGRES_DB=sip_db
      - POSTGRES_USER=sip
      - POSTGRES_PASSWORD=eiJ2koo6
    volumes:
      - ./webapplication:/code
    depends_on:
      - db

  webviewer:
    image: node:14.5.0
    volumes:
      - ./webviewer:/client
    working_dir: /client
    expose:
      - 3000
    ports:
      - "3000:3000"
    command: bash -c "npm install && npm start"
    depends_on:
      - webserver

  webserver:
    image: nginx:1.19.3
    volumes:
      - ./webserver/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./data:/data
    expose:
      - 9000
    ports:
      - "9000:9000"
    depends_on:
      - webapplication

  jupyter:
    build:
      context: ./jupyter
      dockerfile: Dockerfile
    ports:
      - "8888:8888"
    volumes:
      - ./data:/home/jovyan/work
    environment:
      - JUPYTER_ENABLE_LAB=yes
      - TEST_TILE_PATH=/home/jovyan/work/test_tile/L1C_T36UYA_A017393_20200705T083602_TCI.jp2
      
