.aoi-annotation-container {
    display: none;
    padding: 10px;
}

.aoi-annotation-container.is-open {
    display: block;
}

.aoi-annotation-container .container-title,
.aoi-annotation-area-name {
    font-family: "Source Sans Pro";
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 30px;
}

.aoi-annotation-area-name {
    font-size: 16px;
    margin-bottom: 24px;
}

.aoi-annotaino-label {
    display: flex;
}

.aoi-annotaino-label:not(:first-of-type) {
    margin-top: 20px;
}

.aoi-annotaino-label-color {
    flex: 0 0 auto;
    width: 34px;
    height: 34px;
    border-radius: 6px;
    margin-right: 10px;
}

.aoi-annotaino-label-body {
    font-family: "Source Sans Pro";
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aoi-annotaino-label-title {
    font-weight: 600;
    color: #3b4148;
    display: block;
    margin-top: 0;
    margin-bottom: 5px;
}

.aoi-annotaino-label-coordinates {
    color: #545454;
}

.aoi-annotaino-label-unit {
    margin-left: 2px;
}