.feature-request-dialog {
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feature-request-dialog.is-open {
  display: block;
}

.feature-request-dialog .dialog__title {
  display: inline-block;
}

.feature-request-dialog .form__message {
  font-size: 14px;
  display: inline-block;
  margin: 0;
}

.feature-request-dialog .form__message:empty {
  display: none;
}

.feature-request-dialog .form__message:not(:first-of-type) {
  margin-top: 12px;
}

.feature-request-dialog .form__message--error {
  color: red;
}

.feature-request-dialog .form__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.feature-request-dialog .form__button {
  margin-left: 8px;
}

.feature-request-dialog .form__button:disabled {
  color: #99a3af;
  background: #F4F4F4;
  cursor: not-allowed;
}